body {
	/*padding-top: 150px;*/
}

.main {

  /*width: 40%;*/
  background-color: #FEFAC0;
  color: #785616;
  padding: 0 0 0 15px;
  border: solid black;
  width: 900px;
  height: 400px;
  float: left;
  margin: 10px 10px 0 0;
}

.side-left { 

  /*width: 5%;*/
 	background-color: #4DD7FA;
	border: solid;
	padding: 0 15px;
	border: solid;
	padding: 15px;
      width: 200px;
      height: 370px;
      float: left;
      margin: 10px 10px 0 0;
}

.button {
	list-style: none;
	border-radius: 50px;
	border: black thin solid;
	background-color: #C0C0C0;
	width: 60px;
	text-align: center;
}

.all-forms {
	padding: 15px;*/
}

/*ARTICLE STYLING*/

#article-songs {
	background-color: #FEFAC0;
	
	color: #785616;
  	padding: 0 0 0 15px;	
}

.space-between {
	margin: 0 0 10px;
}

.song-title {
	 color: #785616;
	 padding: 0 0 0 15px ;
}

.article-text {
	padding: 2px 0 3px 15px;
}

/*NAVIGATION*/

.nav {
	width: 100%;
}

.nav>nav>ul>li {

	display: inline;
	padding: 2px;
}

nav ul {
	text-align: left;
	padding: 0;
}

.nav>nav {
	background-color:#FFB4B0;
	padding: 10px;
	font-style: Arial;
	font-size: 20px;
	border: black medium solid;
	
}

li.selected a {
	text-decoration: none;
	color: black;

}

/*COLOR ASSIGNMENT*/

#article-songs p:nth-child(2n+0) {
  background-color: #FFF5EE;
}

#article-songs p:nth-child(2n+1) {
	background-color: #F5FFFA;
}

#article-songs p:first-child {
	font-weight: bold;
}

/*GENRE FORM*/

#genre1>ul>li {
	list-style-type: none;
}

.genre-text{
	display: block;
	margin: 10px 0 0 0;
}

#genre2>ul>li {
	list-style-type: none;
}

#genre2 {
	display: inline-block;
}

#genre1 {
	/*margin-left: -50px;*/
	/*float: left;*/
	display:inline-block;
}
#genre1 > ul {
	padding-left: 0px
}
#genre2 > ul {
	padding-left: 0px;
}
