
/*-----FLEX------*/

body {
	/*padding-top: 150px;*/
}
.flex-container {
  padding: 0;
  list-style: none;
  /*height: 50em;*/
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  /*margin: 150px;*/
  margin:10px;

}

.height {
	height: 110px;
}
.flex-container > header {
	flex: 1 100%;
	position: fixed;
	width: 97%;
}


.side-left { 
  flex-grow: 1;
  /*width: 5%;*/
  background-color: #4DD7FA;
	border: solid;
	padding: 0 15px;
	margin-right: 20px;
	margin-top: 100px;
	border: solid;
	padding: 15px;



}

.main {
  flex-grow: 10;
  /*width: 40%;*/
  margin-top: 100px;
  background-color: #FEFAC0;
	color: #785616;
  padding: 0 0 0 15px;
  border: solid black;


}


.flex-item {  
  
  /* The width property here is important. Explain why */
  width: 200px;



}

#article-songs p:nth-child(2n+0) {
  background-color: #FFF5EE;
}

#article-songs p:nth-child(2n+1) {
	background-color: #F5FFFA;
}

#article-songs p:first-child {
	font-weight: bold;
}


.all-forms {
	padding: 15px;*/
}

#article-songs {
	background-color: #FEFAC0;
	
	color: #785616;
  padding: 0 0 0 15px;
	
}

.space-between {
	margin: 0 0 10px;
}

.song-title {
 color: #785616;
 padding: 0 0 0 15px ;
}

.article-text {
	padding: 2px 0 3px 15px;
}

.button {
	list-style: none;
	border-radius: 50px;
	border: black thin solid;
	background-color: #C0C0C0;
	width: 60px;
	text-align: center;

}

/*NAVIGATION*/

.nav{
	/*position: fixed;*/
	width: 100%;
	/*margin: 10px 10px;*/


}

.nav>nav>ul>li {

	display: inline;
	padding: 2px;
}

nav ul {
	text-align: left;
	padding: 0;
}

.nav>nav {
	background-color:#FFB4B0;
	padding: 10px;
	font-style: Arial;
	font-size: 20px;
	border: black medium solid;
	
}

li.selected a {
	text-decoration: none;
	color: black;

}


/*GENRE FORM*/

#genre1>ul>li {
	list-style-type: none;
}

.genre-text{
	display: block;
	margin: 10px 0 0 0;
}

#genre2>ul>li {
	list-style-type: none;
}

#genre2 {
	display: inline-block;
}

#genre1 {
	/*margin-left: -50px;*/
	/*float: left;*/
	display:inline-block;
}
#genre1 > ul {
	padding-left: 0px
}
#genre2 > ul {
	padding-left: 0px;
}
