{{#each songs}}
<div>
	<h1>{{title}} </h1>
	 <span class="yoartist">{{artist}}</span> | <span class="yoalbum">{{album}}</span>
	 <span><button class=' bRemove btn btn-default'>Delete</button></span>
</div>
{{/each}}
